<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <script>
        function helpButtonsAhhg() {
            // Get the text field
            var copyText = document.getElementById("myInput");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);

            // Alert the copied text
            alert("Copied to Clip Bord: " + copyText.value);
        }
    </script>
</head>
<body>
    <header>
        <a href="index.html" class="logo"><img src="/static/styles/logo.jpeg" alt="click here to return home" width="200px" height="200px"></a>
        
        <a href="FAQ.html" class="headerButtons"><div class="headerButtonsText"><h6>FAQ</h6></div></a>
        <a href="menu.html" class="headerButtons"><div class="headerButtonsText"><h6>Products</h6></div></a>
        <a href="aboutUs.html" class="headerButtons"><div class="headerButtonsText"><h6>About Us</h6></div></a>
        <a href="contactUs.html" class="headerButtons" style="box-shadow: 0 0 8px #f4c2c2; background-color: #f8bdbdc2;"><div class="headerButtonsText"><h6>Contact Us</h6></div></a>
    </header>
    <div class="main">
        <h1>The Flourist's Boutique</h1>
        <h3 style="color: #5e4b4b94;">Contact Us</h3>
        <h5>find us on</h5>
        <div class="IveRanOutOfNames">
        <div class="findUs">
            <a href="https://www.tiktok.com/@theflouristboutique" class="findUsLinks" style="font-size: 1.5dvw;">TikTok</a>
            <a href="https://www.instagram.com/theflouristboutique/" class="findUsLinks" style="font-size: 1.5dvw;">Instagram</a>
            <a href="https://www.instagram.com/theflouristboutique/" class="findUsLinks" style="font-size: 1.5dvw;">Pintrest</a>
        <h6>Email:</h6><p>theflouristboutique@gmail.com</p><button onclick="helpButtonsAhhg()" class="clipBordButton">Copy to Clip Bord</button> <!--Add a copy to click bord button here-->
        <input id="myInput" value="theflouristboutique@gmail.com" style="display:none;">
        </div>
        </div>
    </div>
    <footer class="footer">
        <div class="allOfFooter">
            <div class="otherPartOfFooter">
                <h5>Where Every Treat Blossoms</h5>
                <h6>Dublin, Ireland</h6>
            </div>
            <div class="Useful">
                <h6>Useful Links</h6>
                <a href="feedback.html" class="usefulLinks"><p>Feedback</p></a>
                <a href="termsAndCon.html" class="usefulLinks" style="width: 15dvw;"><p>Terms & Conditions</p></a>
            </div>
        </div>
    </footer>
</body>
