<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
    <header>
        <a href="index.html" class="logo"><img src="/styles/logo.jpeg" alt="click here to return home" width="200px" height="200px"></a>
        
        <a href="FAQ.html" class="headerButtons"><div class="headerButtonsText"><h6>FAQ</h6></div></a>
        <a href="menu.html" class="headerButtons"><div class="headerButtonsText"><h6>Products</h6></div></a>
        <a href="aboutUs.html" class="headerButtons"><div class="headerButtonsText"><h6>About Us</h6></div></a>
        <a href="contactUs.html" class="headerButtons"><div class="headerButtonsText"><h6>Contact Us</h6></div></a>
    </header>
    <div class="main">
        <h1>Welcome to The Flourist's Boutique</h1>
        <h3 style="color: #5e4b4b94;">Home-made baked goods made to bring smiles to everyone</h3>
    </div>
    <footer class="footer">
        <div class="allOfFooter">
            <div class="otherPartOfFooter">
                <h5>Where Every Treat Blossoms</h5>
                <h6>Dublin, Ireland</h6>
            </div>
            <div class="Useful">
                <h6>Useful Links</h6>
                <a href="feedback.html" class="usefulLinks"><p>Feedback</p></a>
                <a href="termsAndCon.html" class="usefulLinks" style="width: 15dvw;"><p>Terms & Conditions</p></a>
            </div>
        </div>
    </footer>
</body>
